<h3>ユーザーリスト</h3>
<ul class="list-group">
<% @user.each do |user| %>
<p><%= link_to user.email,user_path(user.id) %></p>
<% end %>
</ul>

<h5>このアプリの使い方</h5>
<div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
①ログイン or 新規ユーザー登録をする<br>②新規投稿ページに移動<br>③ファイル or テキストを入力<br>④投稿一覧ページで他のユーザの投稿を見る or コメントする
</div>
