@import "bootstrap-sprockets";
@import "bootstrap";

@media screen and (min-width: 500px) {
   /*　画面サイズ 500px以上で適用　*/
   input {width:600px;}
   textarea {
     width:600px;
     height:300px;
   }
 }

@media screen and (max-width: 499px) {
   /*　画面サイズ 499pxまで適用　*/
   input {width:300px;}
   textarea {
     width:300px;
     height:200px;
   }
 }
 .btn {
   margin-top:20px;
 }

 a {
   text-decoration:none;
 }

 a:hover {
   color:red;
 }

 .badge a {
   color:white;
 }

$bgDefault      : #0078ff;
$bgHighlight    : #ffffff;
$colDefault     : #ffffff;
$colHighlight   : #163af7;
$dropDown       : false;
.navbar {
  background-color: $bgDefault;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; 
    a {
      color: $colHighlight;
      &:hover, &:focus {
        color: $colHighlight; }}}
  .navbar-nav {
    .nav-link {
      color: $colDefault;
      border-radius: .25rem;
      margin: 0 0.25em;
      &:not(.disabled) {
        &:hover, &:focus {
          color: $colHighlight; }}}
    @if ($dropDown) {
      .dropdown-menu {
        background-color: $bgDefault;
        border-color: $bgHighlight;
        .dropdown-item {
          color: $colDefault;
          &:hover, &:focus, &.active {
            color: $colHighlight;
            background-color: $bgHighlight; }}
        .dropdown-divider {
          border-top-color: $bgHighlight; }}}
    .nav-item.active, .nav-item.show {
      .nav-link, .nav-link:hover, .nav-link:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .navbar-toggler-icon {
      color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 575px) {
  .navbar-expend-sm .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 767px) {
  .navbar-expend-md .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 991px) {
  .navbar-expend-lg .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
@media (max-width: 1199px) {
  .navbar-expend-xl .navbar-nav .show .dropdown-menu {
    .dropdown-item {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    .dropdown-item.active {
      color: $colHighlight;
      background-color: $bgHighlight; }}}
.navbar-expend .navbar-nav .show .dropdown-menu {
  .dropdown-item {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .dropdown-item.active {
    color: $colHighlight;
    background-color: $bgHighlight; }}

      .box2 {
        position: relative;
        margin: 2em 0;
        padding: 0.5em 1em;
        border: solid 3px #62c1ce;
      
        .box-title {
          position: absolute;
          display: inline-block;
          top: -27px;
          left: -3px;
          padding: 0 9px;
          height: 25px;
          line-height: 25px;
          font-size: 17px;
          background: #62c1ce;
          color: #ffffff;
          font-weight: bold;
          border-radius: 5px 5px 0 0;
        }
      
        p {
          margin: 0;
          padding: 0;
        }
      }

      ul.list-group {
        background: #fcfcfc;
      
        /*背景色*/
        padding: 0.5em 0.5em 0.5em 2em;
      
        /*ボックス内の余白*/
        border: solid 3px #62c1ce;
      
        /*線の種類 太さ 色*/
      }
      
      ul li.list-group {
        line-height: 1.5;
      
        /*文の行高*/
        padding: 0.5em 0;
      
        /*前後の文との余白*/
      }